.projects .item {
  padding: 10px;
}

.projects img {
  border-radius: 5px;
}

.title {
  font-size: 50px;
  font-weight: bolder;
  color: #9da1b2;

  @media (max-width: 767px) {
    font-size: 2.5rem;
  }

  @media (min-width: 992px) {
    transform: translateY(150px);
  }
}

.title img {
  height: 16px;
  vertical-align: center;
  margin-left: 20px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  inset: 0;
  opacity: 0;
  transition: all ease-in 0.3s;

  &:hover {
    opacity: 1;
  }
}

.project-title {
  position: relative;
  top: 75%;
  left: 80px;
  padding-left: 20px;
  color: #fff;
  font-size: 2.5rem;
  font-weight: bolder;
  &::before {
    content: "";
    position: absolute;
    background-image: url("../../assets/images/svg/role.svg");
    height: 40px;
    width: 8px;
    left: 0;
    background-repeat: no-repeat;
  }

  &:hover {
    opacity: 1;
  }

  @media (max-width: 767px) {
    padding-left: 10px;
    left: 20px;
    font-size: 1.5rem;
  }
}

.project-title.white::before{
  background-image: url("../../assets/images/svg/role-white.svg");
  background-size: contain;
  background-repeat: no-repeat;

}

.link-to {
  position: relative;
  padding: 8px;
  color: #707070;
  font-size: 1.125rem;
  display: block;
  margin-top: 20px;
  width: fit-content;
  word-spacing: 3px;
  letter-spacing: 3px;
  transition: all ease-in 0.3s;
  transform: translateY(-180px);
  z-index: 3;
  @media (max-width: 767px) {
    transform: translateY(80px);
    margin-bottom: 100px;
    display: none;
  }
  &::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    left: 8px;
    bottom: 0;
    transition: all ease-in 0.3s;
  }

  &.purple::after {
    background: rgb(252, 4, 65);
    background: -moz-linear-gradient(
      93deg,
      rgba(252, 4, 65, 1) 50%,
      rgba(246, 45, 168, 1) 100%
    );
    background: -webkit-linear-gradient(
      93deg,
      rgba(252, 4, 65, 1) 50%,
      rgba(246, 45, 168, 1) 100%
    );
    background: linear-gradient(
      93deg,
      rgba(252, 4, 65, 1) 50%,
      rgba(246, 45, 168, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fc0441",endColorstr="#f62da8",GradientType=1);
  }

  &.dark::after {
    background: rgb(7, 74, 255);
    background: -moz-linear-gradient(
      93deg,
      rgba(7, 74, 255, 0.5) 50%,
      rgba(7, 74, 255, 1) 100%
    );
    background: -webkit-linear-gradient(
      93deg,
      rgba(7, 74, 255, 0.5) 50%,
      rgba(7, 74, 255, 1) 100%
    );
    background: linear-gradient(
      93deg,
      rgba(7, 74, 255, 0.5) 50%,
      rgba(7, 74, 255, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#074aff",endColorstr="#f62da8",GradientType=1);
  }

  &.white:after {
    background: #cf755a;
  }

  &:hover {
    margin-left: 20px;
    background-color: #1d212e;
    border-radius: 10px 10px 0 0;

    &::after {
      left: 0;
    }
  }

  &.white:hover {
    background-color: #eaefe4;
  }
}

.dots {
  transform: translateY(50px);
  position: relative;
  z-index: 5;
  &:focus {
    border: none;
    outline: none;
  }
  button {
    cursor: pointer;
    border: none;
  }
}

.btn-dot {
  height: 24px;
}

.dark-active-dot,
.dark-unactive-dot,
.white-active-dot,
.white-unactive-dot {
  width: 24px;
  height: 24px;
  display: block;
  border-radius: 50%;
}

.dark-active-dot {
  background-color: #074aff;
}

.white-active-dot {
  background-color: #396c54;
}

.dark-unactive-dot {
  background-color: #021a59;
}

.white-unactive-dot {
  background-color: #b8c6b6;
}

.arrow {
  position: absolute;
  top: 51.5%;
  z-index: 1000;
  margin-left: calc(100% - 140px);
  width: fit-content;
  transition: all ease-in 0.2s;
  transition: margin ease-in 0.4s;
  background: unset;
  border: solid 2px transparent;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  @media (max-width: 991px) {
    height: 80px;
    width: 80px;
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    height: 110px;
    width: 110px;
  }
  @media (min-width: 1200px) and (max-width: 1499px) {
    height: 100px;
    width: 100px;
  }

  @media (min-width: 1500px) {
    height: 120px;
    width: 120px;
  }

  &.white {
    background-color: transparent;
    border: solid 2px #396c54;
  }

  &.purple {
    background-color: rgba(252, 4, 65, 0.35);
  }

  &.dark {
    border-color: #02174f;
  }

  &.purple:hover {
    background-color: transparent;
    border: solid 2px #fc0441;
  }

  &.white:hover {
    background-color: transparent;
    background-color: rgba(57, 108, 84, 0.4);
    border: solid 3px transparent;
  }

  &.right {
    margin-left: calc(100% - 140px);
    margin-right: 0%;
    transform: translateY(-50%) translateX(50%);
  }

  &.left {
    margin-right: calc(100% - 140px);
    margin-left: 0%;

    transform: translateY(-50%) translateX(-60%) rotate(180deg);
  }
}
