.landing {
  min-height: calc(100vh - 85px);
  background-repeat: no-repeat;
  background-size: contain;

  &.purple {
    background-image: url("../../assets/images/svg/banner.png");
    background-position: right top;
  }
  &.white {
    background-image: url("../../assets/images/svg/banner-white.svg");
    background-position: right top;
  }

  @media (min-width: 768px) and (max-width: 991px) {
    background-position: right;
  }
  @media (max-width: 991px) {
    background-image: url("../../assets/images/banner-black.jpg");
  }

  .bg-landing {
    background-size: contain;
    background-image: url("../../assets/images/banner-black.jpg");
    background-position: right top;
    background-repeat: no-repeat;
    position: absolute;
    height: 500px;
    width: 500px;
    right: 0;
  }

  @media (max-width: 767px) {
    background-position-x: center !important;
    .info {
      padding-top: 550px;
    }
  }

  @media (max-width: 500px) {
    .info {
      padding-top: 400px;
    }
  }

  .bow {
    font-size: 20px;

    &.white {
      color: #396c54 !important;
    }
  }
  @media (max-width: 767px) {
    .bow {
      font-size: 1.5rem;
      text-align: center;
    }
  }

  .designer-name {
    font-weight: bolder;
    white-space: nowrap;
    transform: translate(-7px);
    font-size: 3rem;
    &.purple {
      color: #9da1b2;
    }
    &.dark {
      color: #ffffff;
    }
    &.white {
      color: #396c54;
    }

    @media (max-width: 767px) {
      text-align: center;
    }

    @media (min-width: 768px) and (max-width:991px) {
    font-size: 3.8rem;
      
    }

    @media (min-width: 992px) {
      font-size: 6rem;
    }
  }

  .details {
    font-size: 1.25rem;
    &.dark {
      color: #707070;
    }

    &.white {
      color: #73827b;
    }

    @media (max-width: 767px) {
      text-align: center;
    }
  }
}

.job-title {
  font-family: "Segoe UI";
  font-weight: 900;
  transform: translate(15px, -30px);
  &.white {
    color: #f1ecda;
  }

  @media (max-width: 991px) {
    display: none !important;
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    font-size: 5rem;
  }

  @media (min-width: 1200px) {
    font-size: 7rem;
    font-weight: bolder;
    top: 0;
    &.purple {
      color: #191f34;
    }

    &.dark {
      color: #242424;
    }
  }
}

.link-to {
  position: relative;
  padding: 8px;
  font-size: 1.125rem;
  display: block;
  margin-top: 20px;
  width: fit-content;
  word-spacing: 3px;
  letter-spacing: 3px;
  transition: all ease-in 0.3s;
  &.purple,
  &.dark {
    color: #707070;
  }

  &.white {
    color: #73827b;
  }

  @media (max-width: 767px) {
    margin-inline: auto;
  }

  &::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    left: 8px;
    bottom: 0;
    transition: all ease-in 0.3s;
  }

  &.purple::after {
    background: rgb(252, 4, 65);
    background: -moz-linear-gradient(
      93deg,
      rgba(252, 4, 65, 1) 50%,
      rgba(246, 45, 168, 1) 100%
    );
    background: -webkit-linear-gradient(
      93deg,
      rgba(252, 4, 65, 1) 50%,
      rgba(246, 45, 168, 1) 100%
    );
    background: linear-gradient(
      93deg,
      rgba(252, 4, 65, 1) 50%,
      rgba(246, 45, 168, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fc0441",endColorstr="#f62da8",GradientType=1);
  }

  &.dark::after {
    background: rgb(7, 74, 255);
    background: -moz-linear-gradient(
      93deg,
      rgba(7, 74, 255, 0.5) 50%,
      rgba(7, 74, 255, 1) 100%
    );
    background: -webkit-linear-gradient(
      93deg,
      rgba(7, 74, 255, 0.5) 50%,
      rgba(7, 74, 255, 1) 100%
    );
    background: linear-gradient(
      93deg,
      rgba(7, 74, 255, 0.5) 50%,
      rgba(7, 74, 255, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#074aff",endColorstr="#f62da8",GradientType=1);
  }

  &.white:after {
    background: #cf755a;
  }

  &:hover {
    transform: translateX(20px);
    background-color: #1d212e;
    border-radius: 10px 10px 0 0;

    &::after {
      left: 0;
    }
  }

  &.white:hover {
    background-color: #eaefe4;
  }
}
