.landing {
  height: calc(100vh - 85px);
  background-image: url("../../assets/images/svg/banner.png");
  background-repeat: no-repeat;
  background-position: right top ;
  background-size: contain;

  .bow{
    font-size: 20px;
  }

  .designer-name{
    font-size: 60px;
    font-weight: bolder;
    color: #9DA1B2;
  }

  .details{
    font-size: 16px;
    font-weight: bolder;
  }
}

@media (min-width: 1200px) {
  .job-title{
    font-size: 90px;
    color: #191F34;
    font-weight: bolder;
    top: 0;
  }


}