.title {
  font-size: 50px;
  font-weight: bolder;
  color: #9da1b2;
}

.title img {
  height: 16px;
  vertical-align: center;
  margin-left: 20px;
}

.processes {
  .process {
    margin-bottom: 30px;
    h3 {
      font-size: 24px;
      font-weight: bolder;
      color: #9da1b2;
      margin-bottom: 30px;
      position: relative;
      z-index: 2;
    }

    h3:before {
      content: attr(data-process);
      position: absolute;
      font-size: 90px;
      transform: translate(-50%, -40%);
      color: #191f34;
      z-index: 1;
    }

    p {
      color: white;
    }
  }
}
