.what-next {
  padding: 100px 0 90px;
  
  &.purple {
    background-color: #24262b;
  }
  &.dark {
    background-color: transparent;
  }

  P:not(hgroup p) {
    color: white;
    font-weight: bolder;
    font-size: 18px;
    @media (min-width: 992px) {
      width: 50%;
      margin-inline: auto;
    }
  }
}

.special-color {
  &.purple {
    color: #fa1772;
  }
  &.dark {
    color: #074aff;
  }
}

.title {
  font-size: 50px;
  font-weight: bolder;
  color: #9da1b2;
  margin-bottom: 70px;
}

.social-links {
  margin-top: 60px;

  @media (max-width: 767px) {
    ul {
      flex-wrap: wrap;
      gap: 20px;
    }
  }

  li:nth-child(3) img {
    width: 42px;
  }
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #45464b;
  height: 60px;
  width: 60px;
  margin-right: 10px;
  img {
    height: 35px;
  }
}

.link-to {
  position: relative;
  padding: 8px;
  color: #707070;
  font-size: 1.125rem;
  display: block;
  margin-top: 20px;
  width: fit-content;
  word-spacing: 3px;
  letter-spacing: 3px;
  transition: all ease-in 0.3s;
  @media (max-width: 767px) {
    margin-inline: auto;
  }
  &::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    left: 8px;
    bottom: 0;
    background: rgb(252, 4, 65);
    background: -moz-linear-gradient(
      93deg,
      rgba(252, 4, 65, 1) 50%,
      rgba(246, 45, 168, 1) 100%
    );
    background: -webkit-linear-gradient(
      93deg,
      rgba(252, 4, 65, 1) 50%,
      rgba(246, 45, 168, 1) 100%
    );
    background: linear-gradient(
      93deg,
      rgba(252, 4, 65, 1) 50%,
      rgba(246, 45, 168, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fc0441",endColorstr="#f62da8",GradientType=1);
    transition: all ease-in 0.3s;
  }

  &.purple::after {
    background: rgb(252, 4, 65);
    background: -moz-linear-gradient(
      93deg,
      rgba(252, 4, 65, 1) 50%,
      rgba(246, 45, 168, 1) 100%
    );
    background: -webkit-linear-gradient(
      93deg,
      rgba(252, 4, 65, 1) 50%,
      rgba(246, 45, 168, 1) 100% 
    );
    background: linear-gradient(
      93deg,
      rgba(252, 4, 65, 1) 50%,
      rgba(246, 45, 168, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fc0441",endColorstr="#f62da8",GradientType=1);
    
  }

  &.dark::after {
    background: rgb(7,74,255);
    background: -moz-linear-gradient(
      93deg,
      rgba(7,74,255, .5) 50%,
      rgba(7,74,255, 1) 100%
    );
    background: -webkit-linear-gradient(
      93deg,
      rgba(7,74,255, .5) 50%,
      rgba(7,74,255, 1) 100%
    );
    background: linear-gradient(
      93deg,
      rgba(7,74,255, .5) 50%,
      rgba(7,74,255, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#074aff",endColorstr="#f62da8",GradientType=1);
    
  }

  &:hover {
    margin-left: 20px;
    background-color: #1d212e;
    border-radius: 10px 10px 0 0;

    &::after {
      left: 0;
    }
  }
}
