.theme-container {
  padding-top: 100px;
  padding-bottom: 50px;

  &.purple {
    background-color: #171b29;
  }

  &.dark {
    background-color: transparent;
  }
}

.theme-btn-purple {
  border-radius: 50%;
  border: none;
  padding: 28px;
  i img {
    width: 50px;
  }
}

.theme-btn-purple.white {
  background-color: #aec1ba;
}

.theme-btn-purple.purple {
  background-color: #3a3d49;
}

.circadian {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  position: relative;
  transform: rotate(180deg);
}

.hours {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  height: 200px;
}

.hour {
  border-radius: 4px 4px 0 0;
  position: relative;
  cursor: pointer;
  width: calc(100% / 24);
  display: flex;
  align-items: center;
  flex-direction: column;
  @media (max-width: 767px) {
    &:nth-child(7),
    &:nth-child(8),
    &:nth-child(9),
    &:nth-child(10),
    &:nth-child(11),
    &:nth-child(12),
    &:nth-child(19),
    &:nth-child(20),
    &:nth-child(21),
    &:nth-child(22),
    &:nth-child(23),
    &:nth-child(24) {
      display: none;
    }
  }
}

.hour img {
  transition: height 0.3s linear;
  height: 50px;
  /* width: 50px; */
}

.hour img:hover,
.hour img.active {
  height: 100px;
  object-fit: cover;
  object-position: top;
}

img.taller {
  height: 75px;
}

.hour.active img {
  height: 100px;
  object-fit: cover;
  object-position: top;
}

.bubble {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.hourButton {
  position: relative;
  left: 50%;
  transform: translateX(50%);
  margin-top: 20px;
  rotate: 180deg;
}

.hourButton:hover,
.hourButton img {
  pointer-events: none !important;
}

.rights {
  font-size: 1.25rem;
  color: #707070;
  font-family: "Segoe UI";
  @media (max-width: 575px) {
    font-size: 0.8rem;
  }
  @media (max-width: 767px) {
    font-size: 1rem;
  }
}

.logo {
  height: 40px;
  @media (max-width: 575px) {
  }
}
