.special-color {
  &.purple {
    color: #fa1772;
  }
  &.dark {
    color: #074aff;
  }
  &.white {
    color: #cf755a;
  }
  @media (max-width: 767px) {
    text-align: center;
  }
}

.title {
  font-size: 50px;
  font-weight: bolder;
  color: #fff;
  &.white {
    color: #396c54;
  }
  @media (max-width: 767px) {
    font-size: 2rem;
    text-align: center;
  }
}

.link {
  color: #707070;
  text-transform: uppercase;
  font-size: 14px;
  border-bottom: #fa1772 solid 1px;
  padding-bottom: 5px;
  padding-right: 10px;
  display: inline-block;
}

.info-details {
  font-size: 1.125rem;
  &.white p {
    color: #73827b;
  }
  @media (max-width: 767px) {
    font-size: 1rem;
    text-align: center;
    padding: 0 !important;
  }
}

