@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@600&display=swap");

.header {
  margin-bottom: 51px;
}

.logo {
  height: 50px;
  position: fixed;
  top: 20px;
  z-index: 1110;
  @media (max-width: 575px) {
    height: 45px;
    top: 20px;
  }
}

.hire-me-btn {
  border: none;
  padding: 15px 50px;
  border-radius: 15px;
  font-weight: 700;
  font-family: Noto Sans, sans-serif;
  position: relative;
  z-index: 1110;
  font-size: 1.125rem;

  &.purple {
    color: #fff;
    background-color: #3a3d49;
  }
  &.dark {
    color: #fff;
    background-color: #074aff;
  }
  &.white {
    color: #fff;
    background-color: #cf755a;
  }
}

.overlay-on-scroll {
  &.purple{

    background: linear-gradient(180deg, rgba(23, 27, 41, 0) 0%, #171b29 100%);
  }
  &.white{
    background: linear-gradient(180deg, rgba(23, 27, 41, 0) 0%, #fbf7ea 100%);

  }
  width: 100%;
  height: 120px;
  position: fixed;
  top: 0;
  transform: rotate(180deg);
  z-index: 110;
}
