.header{
  margin-bottom: 51px;
}

.logo {
  height: 40px;
}

.hire-me-btn {
    color: #fff;
    background-color: #3a3d49;
    border: none;
    padding: 15px 40px;
    border-radius: 15px;
    font-weight: bold;
    
}

