.skillset {
  padding-top: 220px;
  margin-bottom: 100px;
}

.special-color {
  font-size: 18px;
  @media (max-width: 767px) {
    text-align: center;
  }

  &.purple {
    color: #fa1772;
  }

  &.dark {
    color: #074aff;
  }
  &.white {
    color: #cf755a;
  }
}

.title-color {
  color: #9da1b2;
  &.white {
    color: #396c54;
  }
  font-size: 2rem !important;
  @media (max-width: 767px) {
    text-align: center;
  }

  @media (min-width: 992px) {
    font-size: 3.125rem;
  }
}

.info {
  p {
    line-height: 1.7;
    font-weight: 600;
  }

  &.purple p {
    color: #ffffff;
  }

  &.dark p {
    color: #707070;
  }

  &.white p {
    color: #73827b;
  }
}

.link-to {
  position: relative;
  padding: 8px;
  font-size: 1.125rem;
  display: block;
  margin-top: 20px;
  width: fit-content;
  word-spacing: 3px;
  letter-spacing: 3px;
  transition: all ease-in 0.3s;

  &.purple,
  &.dark {
    color: #707070;
  }

  &.white {
    color: #73827b;
  }

  @media (max-width: 991px) {
    margin-bottom: 40px;
    margin-inline: auto;
  }
  &::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    left: 8px;
    bottom: 0;

    transition: all ease-in 0.3s;
  }
  &.purple::after {
    background: rgb(252, 4, 65);
    background: -moz-linear-gradient(
      93deg,
      rgba(252, 4, 65, 1) 50%,
      rgba(246, 45, 168, 1) 100%
    );
    background: -webkit-linear-gradient(
      93deg,
      rgba(252, 4, 65, 1) 50%,
      rgba(246, 45, 168, 1) 100%
    );
    background: linear-gradient(
      93deg,
      rgba(252, 4, 65, 1) 50%,
      rgba(246, 45, 168, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fc0441",endColorstr="#f62da8",GradientType=1);
  }

  &.dark::after {
    background: rgb(7, 74, 255);
    background: -moz-linear-gradient(
      93deg,
      rgba(7, 74, 255, 0.5) 50%,
      rgba(7, 74, 255, 1) 100%
    );
    background: -webkit-linear-gradient(
      93deg,
      rgba(7, 74, 255, 0.5) 50%,
      rgba(7, 74, 255, 1) 100%
    );
    background: linear-gradient(
      93deg,
      rgba(7, 74, 255, 0.5) 50%,
      rgba(7, 74, 255, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#074aff",endColorstr="#f62da8",GradientType=1);
  }

  &.white:after {
    background: #cf755a;
  }

  &:hover {
    margin-left: 20px;
    background-color: #1d212e;
    border-radius: 10px 10px 0 0;

    &::after {
      left: 0;
    }
  }

  &.white:hover {
    background-color: #eaefe4;
  }
}
