.skillset {
  padding-top: 220px;
  margin-bottom: 100px;
}

.special-color {
  font-size: 18px;
  @media (max-width: 767px) {
    text-align: center;
  }

  &.purple {
    color: #fa1772;
  }

  &.dark {
    color: #074aff;
  }
  &.white {
    color: #cf755a;
  }
}

.title-color {
  color: #9da1b2;
  &.white {
    color: #396c54;
  }

  @media (max-width: 767px) {
    text-align: center;
  }

  @media (max-width: 991px) {
    font-size: 2rem !important;
  }

  @media (min-width: 992px) {
    font-size: 3.25rem;
  }
}

.info {
  p {
    line-height: 1.7;
    font-weight: 600;
  }

  &.purple p {
    color: #ffffff;
  }

  &.dark p {
    color: #707070;
  }

  &.white p {
    color: #73827b;
  }
}
